.form-input{
    width: 100%;
    padding: 5px 10px;
    border-radius: 1rem;
    border: 1px solid gray;
}
.submit-btn{
    background-color: #7c9af2;
    border: none;
    outline: none;
    padding: 10px 50px;
    border-radius: 10rem;
    width: 100%;
}
#chat-area{
    height: 100vh;
    background-color: #7c9af2;
}
#chat-msg{
    width: 95vw;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
#chat-msg button{
    background: white;
    color: #0040ff;
    padding: .5em;
    border-radius: 15px;
    outline: none;
    border: none;
}